# Ignorar los archivos binarios
*/bin/
*/obj/

# Ignorar la carpeta .vs
**/.vs/

# Ignorar los archivos de usuario
**.user

# Ignorar los archivos de configuración
*.suo
*.config

# Ignorar .git
*/.git/objects/
